aiohappyeyeballs
aiohttp
aiohttp-fast-zlib
aiosignal
annotated-doc
annotated-types
anyio
attrs
ccxt
certifi
cffi
charset-normalizer
click
coincurve
colorama
contourpy
cryptography
cycler
dateparser
distro
fastapi
fonttools
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
kiwisolver
matplotlib
multidict
numpy
orjson
packaging
pandas
pillow
propcache
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
PyJWT
pyparsing
python-dateutil
python-dotenv
python-multipart
python-telegram-bot
python_binance
pytz
regex
requests
setuptools
six
sniffio
SQLAlchemy
starlette
ta
tenacity
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
uvicorn
websockets
winloop
yarl
zlib-ng
